*{
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
    color: white;
    height: 50px;
    font-size: 10px;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0px;
}
#main{
position: absolute;
top: 17px;
left: 550px;
}

#shoe{
    width: 1050px;
    height: 700px;
}
#parent{
    display: flex;
}
ul{
    display: flex;
    margin-left: 170px;
    margin-top: 35px;

}
li{
    padding: 10px;
    font-size: 20px;
}
#child21{
    margin-top: 150px;
    margin-left:30px ;
}
#p1{
    font-size: 20px;
}

/* next section */
#parent2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
#parent2 img{
   width: 250px;
   margin: 8px;
}

#minip{
    display: flex;
    padding: 20px;
}

#des{
margin-top: 130px;
}

#sh{
    color: black;
}

#sh:hover{
    color: blue;
}

#footu{
    display: flex;
}
#footson{
    margin: 40px;
}
